@page "/"

<div style="display: flex; flex-direction:column; ">
    <img src="favicon.png" height="128" width="128" />
    <span style="font-size: xx-small; position: relative; bottom: 15px; ">Art is &copy; Angel Hornet 2024</span>
    <br />
</div>

<h1>Hello, world!</h1>

Welcome to your <strong>Maui MudBlazor Hybrid App</strong> Template.
